<div class="section container" id="footer">
<div class="docs-section">
    <div class="row">
        <a href="https://se.linkedin.com/in/dominik-harz-03240a37" target="_blank" class="u-hidden-link">
            <img src="{{ site.url }}/assets/images/in-icon.png" alt="LinkedIn" class="u-icon">
        </a> 
        <a href="https://github.com/nud3l" target="_blank" class="u-hidden-link">
            <img src="{{ site.url }}/assets/images/github-icon.png" alt="GitHub" class="u-icon">
        </a>
        <a href="https://github.com/dominik_0" target="_blank" class="u-hidden-link">
            <img src="{{ site.url }}/assets/images/gitlab.png" alt="GitLab" class="u-icon">
        </a>  
        <a href="http://ethereum.stackexchange.com/users/5370/dominik-harz" target="_blank" class="u-hidden-link">
            <img src="{{ site.url }}/assets/images/se-icon.png" alt="StackExchange" class="u-icon">
        </a>      
        <a href="https://twitter.com/nud3l_" target="_blank" class="u-hidden-link">
            <img src="{{ site.url }}/assets/images/twitter-icon.png" alt="Twitter" class="u-icon">
        </a>  
        <a href="https://scholar.google.com/citations?user=s6Km5yQAAAAJ&hl=en" target="_blank" class="u-hidden-link">
            <img src="{{ site.url }}/assets/images/scholar-icon.png" alt="Google Scholar" class="u-icon">
        </a>
    </div>
    <div class="row" style="font-size: 80%">&copy;
        Dominik Harz, <script>document.write( new Date().getFullYear() );</script>
    </div>
    <div class="row" style="font-size: 50%">
        Boilerplate <a href="http://getskeleton.com/" target="_blank">Skeleton</a> | 
        Picture <a href="https://unsplash.com/@steveroe_" target="_blank">Steve Roe on unsplash</span></a> | 
        Menu icon by Timothy Miller [<a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0 </a>], <a href="https://commons.wikimedia.org/wiki/File:Hamburger_icon.svg">via Wikimedia Commons</a>
    </div>
</div>
</div>




