<div class="section background">
  <section class="header">
    <h2>Endeavours in Distributed Ledger Technologies</h2>
  </section>
</div>

<div class="section container">
  <div class="navbar-spacer">
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="{{ site.url }}/index.html">Blog</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{{ site.url }}/projects.html">Projects</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{{ site.url }}/publications.html">Publications</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{{ site.url }}/about.html">About</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="{{ site.url }}/contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

