<div class="navbar-spacer">
<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item menu-icon">
                <a class="navbar-link" href="{{ site.url }}/index.html" data-popover="#codeNavPopover">
                    <img src="{{ site.url }}/assets/images/menu.svg" alt="Menu">
                </a>
                <div id="codeNavPopover" class="popover">
                    <ul class="popover-list">
                        <li class=popover-item">
                            <a class="popover-link" href="{{ site.url }}/index.html">Home</a>   
                        </li>
                        <li class=popover-item">
                            <a class="popover-link" href="{{ site.url }}/blog.html">Blog</a>
                        </li>
                        <li class=popover-item">
                            <a class="popover-link" href="{{ site.url }}/projects.html">Projects</a>
                        </li>
                        <li class=popover-item">
                            <a class="popover-link" href="{{ site.url }}/publications.html">Publications</a>
                        </li>
                        <li class=popover-item">
                            <a class="popover-link" href="{{ site.url }}/contact.html">Contact</a>       
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ site.url }}/index.html">Home</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ site.url }}/blog.html">Blog</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ site.url }}/projects.html">Projects</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ site.url }}/publications.html">Publications</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{{ site.url }}/contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>
</div>
