<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Dominik's Blog</title>
	<meta name="description" content="Personal website">
	<meta name="author" content="Dominik Harz">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/skeleton.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/custom.css">

	<!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script async src="{{ site.url }}/assets/js/site.js"></script>

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">

	</head>
	<body>

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<!-- Header -->
		{% include header.html %}

		<!-- {{ site.url }}/Main -->
		<div class="section container">
			{{ content }}
		</div>

		<!-- Footer -->
		{% include footer.html %}
	</body>
</html>
